*.cmi
*.cmo
*.o

._bcdi/
._d/

min-caml
min-caml.top

lexer.ml
parser.ml
parser.mli

asm.ml
asm.mli
bytemark/Makefile
emit.ml
libmincaml.s
min-rt/globals.s
regAlloc.ml
shootout/Makefile
simm.ml
virtual.ml
